.addButton {

    background-color: #b0c379; 
    color: white;            
    border: 1px solid #000000;
    border-radius: 50%;       
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.addButton:hover {
    background-color: #90a15e;
    transform: scale(1.05);
}

.addButton:active {
    transform: scale(0.95);
}
.buttonAndFilters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 6rem; 
}

.divider {
    border: none;           
    border-top: 1px solid #000000;      
    width: 90%;    
    margin: 1rem auto; 
    opacity: 0.7;               
}